body {
    padding: 0;
    margin: 0px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: rgb(247, 247, 247);
    line-height: 1.6;
    background-image: url('../img/nic.jpg');
    background-color: rgb(66, 67, 126);
    background-size: cover;
    background-position: center;
    height: 100%;
    }
.Form-wrap{
    background-color: rgba(212, 206, 206, 0.253);
    overflow: hidden;
    border: 1px solid rgba(136, 127, 127, 0.61);
    font-size: 5px;
    text-decoration: none;
}

.Form-wrap p{
    display: block;
    padding: 4px 10px;
    float: left;
    }
p{
    background-color: rgba(0, 0, 0, 0.322);
    border-radius: 9%;
}    
h4{
    float: left;
}
.Form-wrap2{

}
}    